<!DOCTYPE html>
<html>
<head>
  <title>Gnuwrite</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<section class="book">
	<div class="spacer">
		<div class="right">
			<%= form_tag({:action=>:search, :controller=>:library}, {:method=>:get})  do  %>
				<%= search_field_tag :s, @search %> <%= submit_tag "Search Titles" %>
			<% end %>
		</div>
		<%= yield %>
	</div>
</section>

<section class="navigation">
	<ul>
		<li><%= link_to 'Bookshelf', books_path %></li>
		<li><%= link_to 'Create a Book', new_book_path %></li>
	</ul>
</section>
</body>
</html>
